{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    "transform-class-properties",
    "transform-es2015-spread",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "root": ".",
          "src": "./src",
          "core": "./src/core",
          "controllers": "./src/controllers",
          "middlewares": "./src/middlewares"
        }
      }
    ]
  ]
}
